#matrice16{
    width:480px;
    display:flex;
    flex-wrap:wrap;
    border-radius: 4px;
    border:10px solid orange;
    background-color:white;

}

#up{
    display:flex;
    justify-content: space-around;
    align-items: flex-end;
    margin:30px;
    font-size:30px;
    
}
.btn{
    border-radius: 4px;
    font-size:20px;
    font-family: 'Courier New', Courier, monospace;
    border-style:none;
    color:white;
    background-color: cornflowerblue;
    cursor:pointer;
} 
.btn:hover{
    background-color:blueviolet;
}
#container{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.hovered{
    background-color:aqua;
}
.radiera{
    background-color:white;
}
body{
    margin : 0;
    background-color:aqua;
}

